



.verticalFooterWrapper{
    flex:1;
}

.rowFooter {
    /* background: lightgray; */
    display: flex;
/*     flex-wrap: wrap;
    justify-content: space-between; */



    flex-direction: column;
    height: 100%;
}


.footer-section .verticalFooterWrapper .wrapperContent{
    width: 100%;
    display: flex;
    justify-content:space-between;
    height: 100%;
}




.wrapperPolicy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}






.footer-section  .verticalFooterWrapper .wrapperContent .itemCenter {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.footer-section .wrapperTittle .itemEnd ,
    .footer-section  .verticalFooterWrapper .wrapperContent .itemEnd {
    display: flex;
    align-items:end;
}

.footer-section .wrapperTittle h2:before {
    background-color: black;
    bottom: .4rem;
    height: 1px;
    width: 92.5%;
}
.footer-section a, .footer-section a:hover {
    text-decoration: none;
}

.footer-section a {
    background-color: transparent;
    color: #191919;
}




















 


.footer-section  .verticalFooterWrapper .wrapperContent h2:hover:before {
    width: 100%
}



 

 




/* .pb-5, .py-5 {
    padding-bottom: 3rem!important;
} */

/* 
    .pt-main {
        padding-top: 5rem!important;
    } */



    .a_beautiful_mess_footer {
        
        
    /*     
        background-color: #191919;
        min-height: 100vh;
        padding: 5.75rem 0 1.375rem;
        width: 100%;
        padding: 7.5rem 0 3.75rem; */
        }



/*         .a_beautiful_mess_footer h2  {
            font-size: calc(1.15rem + 1.8vw);
         
                color: #fafafa;
                font-size: 2.5rem;
                font-weight: 400;
                letter-spacing: .7px;
                line-height: 48px;
            } */



            
            
            
            .d-inline-block {
                display: inline-block!important;
            }
            
 




            a {
                transition: all .2s cubic-bezier(.55,.085,.68,.53);
            }
 




 


            .hover-underline:hover {
                color: #191919;
            }

            .footer-section h2 a:hover {
                color: #fafafa;
            }










            .hover-underline {
                position: relative;
                transition: all .2s cubic-bezier(.55,.085,.68,.53)
            }

            .hover-underline:before {
                background-color: #191919;
                bottom: 0;
                content: "";
                display: block;
                height: 2px;
                left: 0;
                position: absolute;
                transform: scaleX(0);
                transform-origin: 100% 50%;
                transition: transform .35s;
                /* transition-timing-function:cubic-bezier(.25,.46,.45,.94); */
                /* width:100%; */
                /* will-change:transform,color; */
                /* z-index:2; */
            }

            .hover-underline:hover {
                color: #191919
            }

            .hover-underline:hover:before {
                transform: scaleX(1);
                transform-origin: 0 50%;
                transition-timing-function: ease
            }

            .hover-underline.text-white:before {
                background-color: black
            }

            .hover-underline.inverse:before {
                transform: scaleX(1);
                transform-origin: 0 100%;
            }

            .hover-underline.inverse:hover:before {
                transform: scaleX(0);
                transform-origin: 100% 0
            }


            







/* @media(min-width: 768px) {
    .footer-section {
        padding:7.5rem 0 3.75rem
    }
} */



@media(max-width: 1200px) {
    .footer-section h2 {
        font-size:calc(1.15rem + 1.8vw)
    }
}

.footer-section h2 a {
    color: #fafafa;
    display: inline-block
}

/* .footer-section h2 a:before {
    background-color: #fafafa;
    bottom: .4rem;
    height: 1px;
    width: 92.5%
} */

.footer-section h2 a:hover {
    color: #fafafa
}

.footer-section .copyright {
    color: #fafafa;
    font-size: .875rem;
    letter-spacing: .5px;
    margin-bottom: 3rem;
    margin-top: 0;
    text-align: right
}

@media(min-width: 768px) {
    .footer-section .copyright {
        margin-bottom:0;
        margin-top: -1rem
    }
}

.footer-section .copyright a {
    color: #fafafa
}

.footer-section .copyright a:before {
    background-color: black;
    bottom: -.125rem;
    height: 1px
}









.footer-section .wrapperSiteMap{
 
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    
}





/* Small devices (portrait tablets and large phones, 600px and up)  */
@media only screen and (max-width: 600px) {
.footer-section {
    background-color: #FFFFFF;
    height: 100vh;
    padding: 10dvw;
    width: 100dvw;
    box-sizing: border-box;
    /* display: flex; */
    position: relative;
    z-index: 4;

}



.wrapperPolicy { 
    align-items: initial;
}
.footer-section  .verticalFooterWrapper .wrapperContent .itemCenter {
 
    width: 100%;
}


.columnLearMore, .columMapSite{
    display: none !important;
}


.footer-section .wrapperTittle{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer-section .verticalFooterWrapper .wrapperContent h2,
.footer-section   .wrapperTittle h2 {
    color: #CBCBCB;
    font-size: 5dvw;
    font-weight: initial;
    margin: 0;
    font-family: Millionaire;
    
    line-height: initial
}

.footer-section .verticalFooterWrapper .wrapperContent h2{
    font-size:2.8125dvw ;
}

.footer-section .social  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;   
    /*  overflow: hidden; */
    background-color: transparent;
    display: flex; 
    flex-direction:row-reverse;
    justify-content:space-between;
    align-items: center;
   /*  margin-top: 10dvw;
    margin-bottom: 10dvw; */
    /* padding-left: 12.90322580645161dvw; */
}

.footer-section .social  {
    /*  order:2; */
     display: flex;
     justify-content: center;
    /*  margin: 7.5dvw 0  7.5dvw; */
   }


.footer-section .social  svg {
    /* max-width: .8rem; */
   /*  max-width: 1.58dvh; */
/*    width: 32px;
   height: 32px; */

   width: 5dvw;
   height: 5dvw;
    opacity: 1;
    margin-right: 2.5dvw;
    cursor: pointer;
  /*   margin: 1rem 1rem 0 0; */
}

}


/* Small devices (portrait tablets and large phones, 600px and up)  */
@media only screen and (min-width: 600px) {
.footer-section {
    background-color: #FFFFFF;
    height: 100vh;
    padding: 8.602150537634409dvw;
    width: 100dvw;
    box-sizing: border-box;
    /* display: flex; */
    position: relative;
    z-index: 4;

}

.footer-section .wrapperTittle{
    width: 80%;
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
}


.footer-section .hidden{
    display: none !important;
}


.footer-section .verticalFooterWrapper .wrapperContent h2,
.footer-section   .wrapperTittle h2 {
    color: #CBCBCB;
    font-size: 3.823266129032258dvw;
    font-weight: initial;
    margin: 0;
    font-family: Millionaire;
    
    line-height: 48px
}

.footer-section .verticalFooterWrapper .wrapperContent h2{
    font-size:2.150537634408602dvw ;
}
.footer-section .social  {
    /*  order:2; */
     display: flex;
    /*  margin: 6.451612903225806dvw 0  6.451612903225806dvw; */
   }


   .footer-section .social  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;   
    /*  overflow: hidden; */
    background-color: transparent;
    display: flex; 
    flex-direction:row-reverse;
    justify-content:space-between;
    align-items: center;

   /*  margin-bottom: 8.602150537634409dvw ;
    margin-top: 8.602150537634409dvw ; */
   /*  padding-left: 12.90322580645161dvw; */
}
.footer-section .social   svg {
    /* max-width: .8rem; */
   /*  max-width: 1.58dvh; */
/*    width: 32px;
   height: 32px; */

   width: 3.225806451612903dvw;
   height: 3.225806451612903dvw;
    opacity: 1;
    margin-right: 2.5dvw;
    cursor: pointer;
  /*   margin: 1rem 1rem 0 0; */
}

}




/* Large devices (laptops/desktops, 992px and up)   */
@media only screen and (min-width: 992px) {

.footer-section {
    background-color: #FFFFFF;
    height: 100vh;
    padding: 6.666666666666667dvw;
    width: 100dvw;
    box-sizing: border-box;
    /* display: flex; */
    position: relative;
    z-index: 4;

}


.footer-section .hidden{
    display: none !important;
}


.footer-section .verticalFooterWrapper .wrapperContent h2,
.footer-section   .wrapperTittle h2 {
    color: #CBCBCB;
    font-size: 1.480729166666667dvw;
    font-weight: initial;
    margin: 0;
    font-family: Millionaire;
    
    line-height: 48px
}

.footer-section .wrapperTittle{
    width: 100%;
    display: flex;
    justify-content: center;
}


.footer-section .verticalFooterWrapper .wrapperContent h2{
    font-size:1.110833333333333dvw ;
}


    .footer-section .social   img {
        margin: .5rem .88rem;
        max-width: 1.2rem;  
        opacity: .4;
      }


      .footer-section .social  ul {
        margin: 0;
        padding: 0;
        list-style-type: none;   
       /*  overflow: hidden; */
        background-color: transparent;
        display: flex; 
        flex-direction:row-reverse;
        justify-content:space-between;
        align-items: center;
      /*   padding-left: 0; */
        margin: 0;
      /*   margin-top: 4.166666666666667dvw;
        margin-bottom: 4.166666666666667dvw; */
      }
      
      .footer-section .social   svg {
        /* max-width: .8rem; */
       /*  max-width: 1.58dvh; */
       width: 2.083333333333333dvw;
       height: 2.083333333333333dvw;
        opacity: 1;
       /*  margin-right: 2.5dvw; */
        cursor: pointer;
      /*   margin: 1rem 1rem 0 0; */
      }


      .footer-section    .verticalFooterWrapper .wrapperContent h2:after {
        background-color:#CBCBCB;
        bottom: 0;
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        right: 0;
        transform: scaleX(0);
        transform-origin: center left;
        transition: transform .6s cubic-bezier(.215,.61,.355,1);
        z-index: 1;
    }
    
      .footer-section .verticalFooterWrapper  .wrapperContent h2:after {
        transform: scaleX(1);
    }
    
     .footer-section .verticalFooterWrapper .wrapperContent h2:before {
        background-color: black;
        bottom: 0;
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        transition: all .6s cubic-bezier(.215,.61,.355,1);
        width: 0;
        z-index: 2;
    }
    

    }