
.InputComponent .InputComponentGroup        { 
	box-sizing: border-box;
	width: 100%;
	padding: 1rem;
	border: 1px solid white;
	box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
	backdrop-filter: blur(6px);
	border-radius: 24px;
	text-align: center;
	cursor: pointer;
	transition: all 0.5s;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none; 
	opacity: 1;
  }

  .InputComponent .InputComponentGroup .InputComponentWrapper{
	position: relative;
  }
  
   .InputComponent .InputComponentGroup .InputComponentWrapper .InputComponentBar{ 
	position:relative; 
	display:block; 
	width:100%; 
	}
 
  
  
   .InputComponent .InputComponentGroup .InputComponentWrapper  input         {
	  font-size:1.481481481481481dvh;
	  padding:0.7407407407407407dvh 10px 0.7407407407407407dvh 5px;
  /*     display:block;
	  width:300px; */
	  border:none;
	  border-bottom:1px solid  rgb(137,137,137,.3);
	  font-family: var(--third-font);
	  color: var(--second-color); 
	}
  
	 .InputComponent .InputComponentGroup .InputComponentWrapper  input:focus     { outline:none; }
	/* InputComponentHighlightER ================================== */
	 .InputComponent .InputComponentGroup .InputComponentWrapper .InputComponentHighlight {
	  position:absolute;
	  height:60%; 
	  width:100px; 
	  top:25%; 
	  left:0;
	  pointer-events:none;
	  opacity:0.5;
	}
	
	/* active state */
	  .InputComponent .InputComponentGroup .InputComponentWrapper input:focus ~ .InputComponentHighlight {
	  -webkit-animation:inputInputComponentHighlighter 0.6s ease;
	  -moz-animation:inputInputComponentHighlighter 0.6s ease;
	  animation:inputInputComponentHighlighter 0.6s ease;
	}
	
	/* ANIMATIONS ================ */
	@-webkit-keyframes inputInputComponentHighlighter {
	  from { background:var(--second-color); }
	  to  { width:0; background:transparent; }
	}
	@-moz-keyframes inputInputComponentHighlighter {
	  from { background:var(--second-color); }
	  to  { width:0; background:transparent; }
	}
	@keyframes inputInputComponentHighlighter {
	  from { background:var(--second-color); }
	  to  { width:0; background:transparent; }
	}
  
  
	/* LABEL ======================================= */
	 .InputComponent .InputComponentGroup .InputComponentWrapper  label          {
	  color:var(--primary-color); 
	  font-size:0.8333333333333333dvw;
	  font-family:var(--primary-font);
	  position:absolute;
	  pointer-events:none;
	  left:5px;
	  top:0px;
	  transition:0.2s ease all; 
	  -moz-transition:0.2s ease all; 
	  -webkit-transition:0.2s ease all;
	}
	
  /* active state */
   .InputComponent .InputComponentGroup .InputComponentWrapper  input:focus ~ label  {
	top:-16px;
	font-size: 0.8333333333333333dvw;
	color:var(--second-color);
  }
  
   .InputComponent .InputComponentGroup .InputComponentWrapper input:not([value=""])~ label {display: none; }
  
	
   /* BOTTOM InputComponentBarS ================================= */ 
   .InputComponent .InputComponentGroup .InputComponentWrapper .InputComponentBar:before,    .InputComponent .InputComponentGroup .InputComponentWrapper .InputComponentBar:after   {
	content:'';
	height:2px; 
	width:0;
	bottom:1px; 
	position:absolute;
	background:var(--primary-color); 
	transition:0.2s ease all; 
	-moz-transition:0.2s ease all; 
	-webkit-transition:0.2s ease all;
  }
   .InputComponent .InputComponentGroup .InputComponentWrapper .InputComponentBar:before {
	left:0%;
  }
  
   .InputComponent .InputComponentGroup .InputComponentWrapper .InputComponentBar:after {
	right:0%; 
  }
  
   .InputComponent .InputComponentGroup .InputComponentWrapper input:focus ~ .InputComponentBar:before,    .InputComponent .InputComponentGroup .InputComponentWrapper input:focus ~ .InputComponentBar:after {
	width:100%;
  }
	
  
  
  
  
  