/* .page-enter {
    opacity: 1;
 
  }
  .page-enter-active {
    opacity: 1;
 
    transition: opacity 1000ms, transform 1000ms;
  }






  .page-exit {
    opacity: 1;
 
  }
  .page-exit-active {
    opacity: 1;
 
    transition: opacity 1000ms, transform 1000ms;
  } */